setuptools==39.2.0
boto3==1.7.16
asyncpg==0.18.0
pytest==3.6.3
ipywidgets==7.3.0
implicit==0.3.5
requests==2.20.0
matplotlib==2.2.2
botocore==1.10.16
psutil==5.4.5
sklearn_pandas==1.6.0
pandas==0.23.3
scikit_optimize==0.5.2
numpy==1.14.5
scipy==1.1.0
lightgbm==2.1.1
gmaps==0.8.0
redis==2.10.6
lightfm==1.14
scikit_learn==0.20.0


torch>=0.4.1
torchvision>=0.2.1
git+https://github.com/maciejkula/spotlight.git@master#egg=spotlight