sklearn_pandas==1.6.0
pandas==0.22.0
gmaps==0.7.0
psutil==3.4.2
matplotlib==2.1.2
pytest==3.5.0
scikit_optimize==0.5
ipywidgets==7.1.1
tqdm==4.19.5
scipy==1.0.0
implicit==0.3.4
boto3==1.5.23
numpy==1.14.0
redis==2.10.6
requests==2.18.4
lightfm==1.14
scikit_learn==0.19.1
